html,
body {
  background-color: #f8fafc;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  width: 100%;
}

section{
  width: 100%;
  padding: 4rem;
}

h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem; /* 1.5rem = 24px */
  margin-bottom: 2rem; /* 0.625rem = 10px */
}
ul {
  list-style-type: disc;
  padding-left: 1.25rem; /* 1.25rem = 20px */
  margin-bottom: 2rem;
}

li{
  margin: .5rem 0;
}

a{
  text-transform: none;
  text-decoration: none;
  color: #4552c6;
}

p{
  margin-bottom: 1rem;
  line-height: 1.4;
}

.cta{
  background: #4552C6;
  font-weight: bold;
  padding: 1.5rem 2rem;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.colored{
  color: #4552C6;
}