



.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FDFFA0;
}


.hero .left, .hero .right {
  flex: 1;
  width: 50%;
}

.hero .right{
    margin-left: 4rem;
}

.hero img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 0;
}

.hero ul{
    margin-bottom:4rem;
}

.button:hover {
  background-color: #005bb5;
}
.proof {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  background: #FDFFA0;
}

.proof .block {
  flex: 1;
  text-align: center;
}
.proof img {
  width: auto;
  max-height: 30px;
  margin-bottom: 0.625rem; /* 0.625rem = 10px */
  border-radius: 0;
}


.presentation h2{
    color:#4552C6;
}

.faq{
    background: #ECF1FF;
}

.faq dt {
  font-weight: bold;
  margin: 2rem 0 1rem 0;
}
